#landing-div {
    display:flex;
    justify-content: center;
    align-items: center;
}

#eso-scape {
    min-height: 70vh;
    height: 100vh;
    position: center;
    background-size: cover;
    opacity: 0.65;
}

#landing-text {
    display: flex;
    justify-content: center;
}