#nav-main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 100%;
}

#nav-links {
    padding: 5px;
}

.nav-btns {
    padding: 3px;
}

#hamburger-menu {
    /* text-align: justify; */
}